@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

html {
  scroll-behavior: smooth;
}

/* Outfit Fonts */
@font-face {
  font-family: 'Outfit';
  font-weight: 400;
  src: url('/fonts/OutfitRegular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  font-weight: 600;
  src: url('/fonts/OutfitSemiBold.woff') format('woff');
  font-display: swap;
}

/* Raleway Fonts */
@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  src: url('/fonts/Raleway-Bold.woff2') format('woff2');
  font-display: swap;
}

#particles{
  position: fixed;
  width: 100%;
  height: 100%; 
  z-index: -99;
}

section {
  @apply bg-transparent;
}

.body-text {
  font-family: 'Inter', sans-serif;
}
